@page "/"

<PageTitle>Index</PageTitle>

<h1>Humidity Predictor</h1>

This is a webpage that shows the latest gathered climate data from my Arduino and displays it along with a prediction.

<GetComponent></GetComponent>